In [1]:
import sys

import numpy as np
import pandas as pd

## Data

In [8]:
!tree data/raw/stock_reddit_data/

data/raw/stock_reddit_data/
├── Combined_News_DJIA.csv
├── RedditNews.csv
└── upload_DJIA_table.csv

1 directory, 3 files

In [10]:
df_combined = pd.read_csv("data/raw/stock_reddit_data/Combined_News_DJIA.csv")

print(df_combined.shape)
df_combined.head(2).T

(1989, 27)

,0,1
Date,2008-08-08,2008-08-11
Label,0,1
Top1,"b""Georgia 'downs two Russian warplanes' as cou...",b'Why wont America and Nato help us? If they w...
Top2,b'BREAKING: Musharraf to be impeached.',b'Bush puts foot down on Georgian conflict'
Top3,b'Russia Today: Columns of troops roll into So...,"b""Jewish Georgian minister: Thanks to Israeli ..."
Top4,b'Russian tanks are moving towards the capital...,b'Georgian army flees in disarray as Russians ...
Top5,"b""Afghan children raped with 'impunity,' U.N. ...","b""Olympic opening ceremony fireworks 'faked'"""
Top6,b'150 Russian tanks have entered South Ossetia...,b'What were the Mossad with fraudulent New Zea...
Top7,"b""Breaking: Georgia invades South Ossetia, Rus...",b'Russia angered by Israeli military sale to G...
Top8,"b""The 'enemy combatent' trials are nothing but...",b'An American citizen living in S.Ossetia blam...
Top9,b'Georgian troops retreat from S. Osettain cap...,b'Welcome To World War IV! Now In High Definit...
Top10,b'Did the U.S. Prep Georgia for War with Russia?',"b""Georgia's move, a mistake of monumental prop..."
Top11,b'Rice Gives Green Light for Israel to Attack ...,b'Russia presses deeper into Georgia; U.S. say...
Top12,b'Announcing:Class Action Lawsuit on Behalf of...,b'Abhinav Bindra wins first ever Individual Ol...
Top13,"b""So---Russia and Georgia are at war and the N...",b' U.S. ship heads for Arctic to define territ...
Top14,"b""China tells Bush to stay out of other countr...",b'Drivers in a Jerusalem taxi station threaten...
Top15,b'Did World War III start today?',b'The French Team is Stunned by Phelps and the...
Top16,b'Georgia Invades South Ossetia - if Russia ge...,b'Israel and the US behind the Georgian aggres...
Top17,b'Al-Qaeda Faces Islamist Backlash',"b'""Do not believe TV, neither Russian nor Geor..."
Top18,"b'Condoleezza Rice: ""The US would not act to p...",b'Riots are still going on in Montreal (Canada...
Top19,b'This is a busy day: The European Union has ...,b'China to overtake US as largest manufacturer'
Top20,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'War in South Ossetia [PICS]'
Top21,b'Why the Pentagon Thinks Attacking Iran is a ...,b'Israeli Physicians Group Condemns State Tort...
Top22,b'Caucasus in crisis: Georgia invades South Os...,b' Russia has just beaten the United States ov...
Top23,b'Indian shoe manufactory - And again in a se...,b'Perhaps *the* question about the Georgia - R...
Top24,b'Visitors Suffering from Mental Illnesses Ban...,b'Russia is so much better at war'
Top25,"b""No Help for Mexico's Kidnapping Surge""","b""So this is what it's come to: trading sex fo..."

In [12]:
df_reddit = pd.read_csv("data/raw/stock_reddit_data/RedditNews.csv")

print(df_reddit.shape)
df_reddit.head(2).T

(73608, 2)

,0,1
Date,2016-07-01,2016-07-01
News,A 117-year-old woman in Mexico City finally re...,IMF chief backs Athens as permanent Olympic host

In [13]:
df_DIJA = pd.read_csv("data/raw/stock_reddit_data/upload_DJIA_table.csv")

print(df_DIJA.shape)
df_DIJA.head(2).T

(1989, 7)

                      0             1
Date         2016-07-01    2016-06-30
Open       17924.240234  17712.759766
High       18002.380859  17930.609375
Low        17916.910156  17711.800781
Close      17949.369141  17929.990234
Volume         82160000     133030000
Adj Close  17949.369141  17929.990234

In [15]:
from matplotlib.pyplot

Date          2008-08-08
Open         6547.009766
High         6709.609863
Low          6469.950195
Close        6547.049805
Volume           8410000
Adj Close    6547.049805
dtype: object